.container-header{
    background-color: #550053;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.center-header{
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    padding: 1%;

}

.center-header img{
    width: 15%;
}

.title-header{
    font-family: 'Rammetto One', cursive;;
}

.button-container button{
    font-family: 'Press Start 2P', cursive;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    color:#FFFFFF; 
    border: 2px solid #8340FF;
    border-radius: 1rem;
    background-color: #8340FF;
  }
  
  .button1:hover {
    color: #000000;
    background-color: #FFFFFF;
  }
  
  .button2 {
    background-color: #8340FF;
    color: #FFFFFF; 
    border: 2px solid #8340FF;
    border-radius: 1rem;
  }
  
  .button2:hover {
    color:#000000;
    background-color: #FFFFFF;
  }