body{
    background-color: #000000;
    color:#FFFFFF;
}
.photo{
    font-family: 'Press Start 2P', cursive;
    color: #FFFFFF;
    padding-top: 2rem;
}

.title-blob{
    font-family: 'Press Start 2P', cursive;
    color: #FFFFFF;
    padding-top: 2rem;
    
}

.list{
    list-style-type: none;
}

.button-upload{
    color:#FFFFFF; 
    border: 2px solid #8340FF;
    border-radius: 1rem;
    background-color: #8340FF;
    padding: 14px 28px;
    font-family: 'Press Start 2P', cursive;
}



