.App {
  text-align: center;
}
a {
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
  display: inherit;
  padding: inherit;
  margin: inherit;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  padding: 20px;
}