@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --big-container: 30rem;
    --big-meme: 25rem ;
}

/* meme feed */ 

img {
    width: 1rem;
    padding: 1rem; 
}

.container-meme{
display: flex;
flex-direction: column;
align-items: center;
max-width: fit-content;
width: inherit;
text-align: center;
margin: 2rem auto;
transition-timing-function: ease-in-out;
transition: 0.2s;
}

.meme {
    background-color: rgb(51, 51, 51);
    align-self: center;
    width: 35rem;
    margin: 0 1rem;
}


/* Container button - action bar of every meme  */ 

p {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    padding-right:0.2rem
}


.container-buttons{
    display: flex;
    width: 94.7%;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2rem;
    margin: 0 1rem;
    background-color: var(--primary);
}

.container-buttons span{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin: 0.1rem 1rem
}

/* Like button */
.container-buttons span:first-of-type{
    padding-top: 0;
    align-items: baseline;
}

.button-action {
    background-color: inherit;
    border: none;
}

.action-icon {
    max-width: 2rem;
    color: var(--secondary);
}
