.container {
    background-color: var(--darker);
    width: auto;
    display: flex;
    justify-content: center;
    color: white;
    margin: 2rem auto;
}

.container-main{
    margin: 1rem;
    max-width:30rem;
    text-align: center;
    padding: 1rem
}

.upload-box {
    display: flex;
    flex: 1 100%;
    flex-direction: column;
    margin: 1rem auto;

}

.btn-upload {
font-size: 2rem;
}

.file-selector {
    background-color: aqua;
    padding: 1rem;
    
}
