.Mymeme {
    position: relative;
    width: 59%;
    margin: auto;
  }
   
  .Mymeme > img {
    width: 100%;
  }
   
  .Mymeme > h2 {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000;
  }
   
  .Mymeme > .bottom {
    bottom: 0;
  }
   
  .Mymeme > .top {
    top: 0;
  }
   
  .memeForm {
    padding-top: 25px;
    text-align: center;
  }